<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}</title>

  <!-- ORIGINAL THEME SOCIAL META  start -->
  <!-- <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}" />

    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }} {% if site.job_title %}&mdash; {{site.job_title | escape }} {% endif %}" />

    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="description" property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <meta name="twitter:card" content="summary_large_image" />
    {% if site.twitter_handler %}
    <meta name="twitter:site" content="@{{site.twitter_handler}}" />
    {% endif %}
    <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}" />

    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" /> -->

  <!-- ORIGINAL THEME SOCIAL META  end -->

  <!-- MY OWN SOCIAL META  start -->

  <meta name="twitter:site" content="@undavide">
  <meta name="twitter:creator" content="@undavide">
  <meta name="twitter:title" content="{{ page.title }}">

  <meta property="og:url" content="{{page.url | prepend: site.baseurl | prepend: site.url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.name | escape }}" />

  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  {% endif %}

  {% if page.media_card %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.media_card }}">
  <meta property="og:image" content="{{ page.media_card | prepend: site.baseurl | prepend: site.url }}" />
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ page.image }}">
  <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />
  {% endif %}

<!-- media_card recommended size: 1200 x 628 -->
  <!-- MY OWN SOCIAL META  end -->


  <meta name="author" content="{{site.name}}" />

  <meta name="copyright" content="Copyright by {{site.name}}. All Rights Reserved." />

  {% include fonts.html %}
  {% if {{site.favicon != blank}} %}
  <link href="{{ site.favicon }}" rel="shortcut icon" type="image/x-icon" />
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %}

  {% if site.email != blank and site.show_email == 1 %}
  <script>
    function UnCryptMailto(s) {
      var n = 0;
      var r = "";
      for (var i = 0; i < s.length; i++) {
        n = s.charCodeAt(i);
        if (n >= 8364) {
          n = 128;
        }
        r += String.fromCharCode(n - 1);
      }
      return r;
    }

    function linkTo_UnCryptMailto(s) {
      location.href = UnCryptMailto(s);
    }
  </script>
  {% endif %}
</head>
